<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Vue Snake</title>
  	<meta name="author" content="Gerard Lamusse">
  	<meta name="description" content="HTML snake game">
  	<meta name="keywords" content="snake,game,html,vuejs">
	<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
	<h1>Enjoy <span>Vue Snake</span></h1>
	<div id="app" @keyup.left="move(-size,0)" @keyup.up="move(0,-size)" @keyup.right="move(size,0)" @keyup.down="move(0,size)">
		<button @click="start">{{started}}</button>
		<button @click="togglePause">{{paused}}</button>
		<div class="info">Score: {{score}}</div>
		<v-touch ref="div" class="board" v-on:swipeleft="move(-size,0)" v-on:swipeup="move(0,-size)" v-on:swiperight="move(size,0)" v-on:swipedown="move(0,size)" v-bind:style="{width: width+'px', height: height+'px'}">
			<div class="score">{{display}}</div>
			<div class="food" v-bind:style="{width: size+'px', height: size+'px', top: food.y+'px', left: food.x+'px'}"></div>
			<div class="snake" v-for="(part, i) of snake.parts" v-bind:class="{head: !i}" v-bind:style="{width: size+'px', height: size+'px', top: part.y+'px', left: part.x+'px', transform: 'rotate('+direction(i)+'deg)'}">
			</div>
		</v-touch>
		<div class="controls">
			<button @click="move(0,-size)"><i class="material-icons">keyboard_arrow_up</i></button><br>
			<button @click="move(-size,0)"><i class="material-icons">keyboard_arrow_left</i></button>
			<button @click="move(0,size)"><i class="material-icons">keyboard_arrow_down</i></button>
			<button @click="move(size,0)"><i class="material-icons">keyboard_arrow_right</i></button>
		</div>
		<br>
		<hr/>
		<label>Width: <input type="number" v-model="width" /></label>
		<label>Height: <input type="number" v-model="height" /></label>
		<label>Size: <input type="number" v-model="size" /></label>
		<a href="https://github.com/u12206050/vue-snake">View on Github</a>
	</div>
	<style>
		#app,.board{position:relative}*{box-sizing:border-box;font-family:Pangolin,cursive}body,html{margin:0;padding:10px;background:#3F51B5}h1{margin: 5px; color:#fff}h1 span{color:#0f0}button{-webkit-appearance:none;background:#000;color:red;border:1px solid red;padding:5px 10px;margin:5px;cursor:pointer}button:hover{color:#0f0;border:1px solid #0f0}.board{background: #212121;border:1px solid #00b}.score{font-size:100px;position:absolute;width:100%;text-align:center;top:50%;margin-top:-50px;color:#666}.food,.snake{width:10px;height:10px;display:block;position:absolute}.food{border:1px solid red;z-index:1;transition:all .4s ease}
		.snake{border:1px solid #0f0;border-radius:100%;z-index:2;transition:all .1s linear}.snake.head{border-radius:100% 0 0 0}.snake:last-child{border-radius:0}
		label{color: #eee;}
		input[type="number"] {-webkit-appearance: none;border: 1px solid #2196F3;background: #212121;color: #2196F3;padding: 5px;font-size: 14px;width: 100px;}
		.controls{max-width: 190px;text-align:center;}.controls button { width: 50px; height: 36px }
	</style>
	<script src="//unpkg.com/vue/dist/vue.js"></script>
	<script src="//hammerjs.github.io/dist/hammer.min.js"></script>
	<script src="//hammerjs.github.io/dist/hammer-time.min.js"></script>
	<script src="//unpkg.com/vue-touch@2.0.0-beta.4"></script>

	<script src="script.js"></script>
</body>
</html>
